@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure App Services</h1>
    <p>We have Players from these Countries...............</p>
</div>
